HOST=localhost
PORT=8081
NODE_ENV=development
CHROMIUM_PATH =/usr/bin/chromium-browser
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD =true

APP_URL=http://${HOST}:${PORT}
APP_KEY=E8bq072cMf8t2aJ2W2hWQTPT0r7PwFIu
CACHE_VIEWS=false
SESSION_DRIVER=cookie

DB_CONNECTION=pg
DB_HOST=10.1.51.15
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Pa\$50rd
DB_DATABASE=connecta

REDIS_CONNECTION=default
REDIS_HOST=redis.immobisp.com
REDIS_PORT=6379
REDIS_PASSWORD=Immsp4102

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_SECURE=false

MAIL_CONNECTION=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_USERNAME=598b6b168a2932
MAIL_PASSWORD=9c83c2940418b5
MAIL_PORT=2525

GOOGLE_KEY=AIzaSyApWfUaEC5yUMlj32fi0VOBGBiE3NmVmfM